*{
    margin: 0;
    padding: 0;
}

#carroContainer{
    position: fixed;
    width: 60%;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    height: 0px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;

}

#CerrarCarro{
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#productCarroContainer{
    display: none;
}
.navbar{
    background-color: #2D3142;
}
.btn-carro{
    background-color: #FFFFFF;
}
.btn-agregar{
    background-color: #2D3142;
    color: white;
}

.flex{
    display: flex;
    justify-content: center;
}

.custom-card{
    border-radius: 10px;
    background-color: white;
    position: relative;
    border: 1px solid #2D3142;
}

.btnBorrar{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width:500px){

    #carroContainer{
        width: 100%;
    }
}