#carroContainer{
    position: fixed;
    width: 90%;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    height: 0px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1s;

}

#CerrarCarro{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}